.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: rgba(253, 249, 249, 0.911); /* Semi-transparent background */
    padding: 10px 20px;
    position: fixed; /* Fixed position to stay at the top */
    top: 0;
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it sits above other elements */
}

.navbar-logo {
    margin-right: 0.6mm; /* Move the hotel name 0.6mm to the right */
}

.navbar-logo h1 {
    color: white;
    margin: 0;
    font-style: italic; /* Italicize the hotel name */
    transition: transform 0.2s, color 0.2s; /* For hover effect */
}

.navbar-links {
    list-style: none;
    display: flex;
    margin-left: -0.6mm; /* Move the Signup/Login buttons 0.6mm to the left */
}

.navbar-links li {
    margin-left: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-style: italic; /* Italicize links */
    transition: transform 0.2s, color 0.2s; /* For hover effect */
}

.nav-link:hover {
    color: #39ff14; /* Neon green color */
    transform: scale(1.1); /* Slightly increase size on hover */
}

.navbar-logo h1:hover {
    color: #39ff14; /* Neon color on hover */
    transform: scale(1.1); /* Slightly increase size on hover */
}
